/* MAIN STYLES */
* { margin: 0; padding: 0; border: none; }
html {
    height: 100%;
}
body {
    font-family: Helvetica, sans-serif;
    background-color: white;
    height: 100%;
}
.page {
    background-color: white;
    margin: auto;
    width: 75%;
    height: 100%;
    min-height: 100%;
}
@media only screen and (max-width: 1000px) {
	.page {
		width: 90%;
	}
}

/* FIGURE STYLES */
div.figure {
    display: block;
    width:  65%;
    padding: 10px;
	padding-top: 50px;
    margin: auto;
}
img.figure {
    width: 100%;
}

/* TEXT STYLES */
h4.option {
    display: block;
    padding-bottom: 10px;
}

label.option {
    padding-left: 7px;
    padding-bottom: 5px;
}

/* CONTAINER STYLES */
.float {
	float:left;
	display:inline;
}
